@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body {

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

H1 {

    text-align: center;
    font-size: 38px;
    color: blue;
}

li {
    background-color:black;
    height: 40px;
    color: white;
    
}
li a {
    text-decoration: none;
    color: white;
    width: 150px;
    display: block;
}

